<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/AlgorithmRaceVisualizerCopy1/src/main/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="algorithmvisualizer"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AlgorithmRaceVisualizerCopy1"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--enable-native-access=javafx.graphics --module-path &quot;C:/Programming/javafx-sdk-25.0.3/lib&quot; --add-modules javafx.controls,javafx.fxml,javafx.graphics"/>
</launchConfiguration>
